
body {
	font-family: Arial, sans-serif;
	background: #161616;
	color: #f2f2f2;
}
.editor {
	width: calc(100% - 1.5em);
	float: right;
	height: 33%;
}
.editor_name {
	width: 1em;
	height: 33%;
	text-align: center;
	float: left;
}
html, body {
	height: 100%;
}
#right, #left {
	min-width: 25%;
	max-width: 75%;
	width: 50%;
	float: left;
	height: 100%;
}
#right {
	border-right:
}
#top_bar {
	line-height: 3em;
	height: 3em;
	background: #111;
}
#container {
	height: calc(100% - 3em);
}
